*{
	box-sizing: border-box; 
	font-family: Tahoma;
}

body {
	margin: 0px;
	width: 100%;
	background-color: #f1f1f1;
}
header{
	background-color: #b1b1b1;
	padding: 1.5em;
	margin-bottom: 0.5em;
	box-shadow: 2px 2px 15px rgba(0,0,0, 0.3);
}
h1{
	width: 100%;
	text-align: center;
	color: #EEE;	
}

main{
	position: relative;
	margin: 0 2%;
}

.bola {
	width: 50px;
	height: 50px;
	background-color: #000000;
	border-radius: 25px;
	position: absolute;
}
.centralizar{
	float: left;
	
}
.centralizar:before,.centralizar:after{
	clear:both;
}
#conteudo {
	float: left;
	width: 60%;
	height: 450px;
	border: 1px solid #000;
	background-color: #EEE;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 2px 2px 15px rgba(0,0,0, 0.3);
}

.descricao-nivel{
	float: right;
	width: 40%;
	display: inline-block;
	line-height: 1em;
	padding: 3%;
	font-size: 20px;
	letter-spacing: 0.2em;	
}
.descricao-nivel h1{
	font-size: 2em;
	color: #444;
	
}
.conteudo-descricao{
	display: block;
	width: 60%;	
	margin: 0;
}

#titulo {
	width: 390px;
	height: 70px;
	border: 1px solid #000;
	background-color: #EEE;
	float: left;
	margin-right: 10px;
	font-size: 50px;
	text-align: center;
}
#pontuacao {
	width: 148px;
	height: 70px;
	border: 1px solid #000;
	background-color: #EEE;
	float: right;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	
}
