*{
	box-sizing: border-box; 
	font-family: Tahoma;
}

body {
	margin: 0px;
	width: 100%;
	background-color: #f1f1f1;
}
header{
	background-color: #b1b1b1;
	padding: 1em;
	margin-bottom: 0.5em;
	box-shadow: 2px 2px 15px rgba(0,0,0, 0.3);
}
h1{
	width: 100%;
	text-align: center;
	color: #EEE;	
}

main{
	position: relative;
	margin: 0 2%;
}

.bola {
	width: 50px;
	height: 50px;
	background-color: #000000;
	border-radius: 25px;
	position: absolute;
}
.container{
	float: left;
	width: 100%;
	
}
.container:before,.container:after{
	clear:both;
}
#quadro {
	float: left;
	width: 60%;
	height: 450px;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 2px 2px 15px rgba(0,0,0, 0.3);
}

.descricao-nivel{
	width: 40%;
	display: inline-block;
	line-height: 1em;
	padding: 3%;
	font-size: 20px;
	letter-spacing: 0.2em;	
}
.descricao-nivel h1{
	font-size: 2em;
	color: #444;
	
}

.quadro-descricao {
	float: left;
	width: 60%;	
	margin: 0;
}
.quadro-descricao:before,.quadro-descricao:after{
	clear:both;
}

.fundo-quadro {
	border: 1px solid #000;
	background-color: #EEE;
}

#titulo {
	width: 50%;
	height: 70px;
	float: left;
	margin-right: 10px;
	font-size: 50px;
	text-align: center;
}

#cronometro {
	width: 24%;
	height: 70px;
	float: right; 
	margin-right: 2%;
	font-size: 50px;
	padding: 0 5px;
}

#pontuacao {
	width: 20%;
	height: 70px;
	float: right;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	
}

.botao{
	width: 25%;
	height: 70px;
	margin-right: 7%; 
	float: right;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
